er-triage/n8n-workflows/wf2-detect-flags.json
{
  "name": "WF-2: Detect Flags",
  "nodes": [
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "detect-flags",
      "parameters": {
        "httpMethod": "POST",
        "path": "detect-flags",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000002",
      "name": "Extract Structured Complaint",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [460, 300],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "field-001",
              "name": "complaint_category",
              "value": "={{ $json.body.complaint_category }}",
              "type": "string"
            },
            {
              "id": "field-002",
              "name": "onset",
              "value": "={{ $json.body.onset }}",
              "type": "string"
            },
            {
              "id": "field-003",
              "name": "duration",
              "value": "={{ $json.body.duration }}",
              "type": "string"
            },
            {
              "id": "field-004",
              "name": "symptoms",
              "value": "={{ $json.body.symptoms }}",
              "type": "array"
            },
            {
              "id": "field-005",
              "name": "trigger",
              "value": "={{ $json.body.trigger }}",
              "type": "string"
            },
            {
              "id": "field-006",
              "name": "context",
              "value": "={{ $json.body.context }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000003",
      "name": "OpenAI: Detect Critical Flags",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [680, 300],
      "parameters": {
        "resource": "chat",
        "operation": "complete",
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are a clinical AI flag detection engine for ER triage. Given a structured chief complaint, evaluate whether any critical condition flag should be raised.\n\nEvaluate against these 10 conditions:\n1. Acute MI — chest pain, left arm/jaw radiation, diaphoresis, pain at rest\n2. Stroke — sudden confusion, facial droop, speech slurring, unilateral weakness, acute onset\n3. Anaphylaxis — insect sting/allergen trigger, throat tightness, tongue/lip swelling, hives, rapid onset\n4. Sepsis — fever/chills, suspected infection source, altered mental status, tachycardia\n5. Respiratory distress — dyspnea, low SpO2 (< 94%), accessory muscle use, cyanosis\n6. Suicidal ideation — explicit self-harm statement, brought in by police/family for safety concern\n7. Major trauma — high-energy mechanism (MVA, fall from height, assault), multi-system involvement\n8. Hypertensive crisis — severe headache, visual changes, chest pain with high BP context\n9. Altered mental status — acute confusion, unresponsiveness, disorientation without other flag\n10. Anaphylactoid reaction — allergic-type symptoms (hives, swelling, itching) without identified allergen trigger\n\nReturn JSON only:\n{\n  \"flag_detected\": boolean,\n  \"flag_type\": \"string or null\",\n  \"confidence\": \"number 0.0 to 1.0 or null\",\n  \"urgency\": \"standard or high or null\",\n  \"source_citation\": \"string or null\",\n  \"reasoning\": \"string or null\"\n}\n\nRules:\n- flag_detected: true only if confidence >= 0.70\n- urgency: 'high' if confidence >= 0.90, 'standard' if 0.70 to 0.89\n- source_citation: quote the specific field values from the input that triggered the flag\n- reasoning: one sentence explaining the clinical basis for the flag\n- If no flag matches or confidence < 0.70: return flag_detected false, all other fields null"
            },
            {
              "role": "user",
              "content": "={{ JSON.stringify($json) }}"
            }
          ]
        },
        "options": {
          "responseFormat": "json_object",
          "temperature": 0
        }
      },
      "credentials": {
        "openAiApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "OpenAI API"
        }
      }
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000004",
      "name": "Flag Detected?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-001",
              "leftValue": "={{ JSON.parse($json.message.content).flag_detected }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000005",
      "name": "Respond: Flag Alert",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 180],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.message.content }}",
        "options": {
          "responseCode": 200
        }
      }
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000006",
      "name": "Respond: No Flag",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 420],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ \"flag_detected\": false, \"flag_type\": null, \"confidence\": null, \"urgency\": null, \"source_citation\": null, \"reasoning\": null }) }}",
        "options": {
          "responseCode": 200
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract Structured Complaint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Structured Complaint": {
      "main": [
        [
          {
            "node": "OpenAI: Detect Critical Flags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI: Detect Critical Flags": {
      "main": [
        [
          {
            "node": "Flag Detected?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flag Detected?": {
      "main": [
        [
          {
            "node": "Respond: Flag Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond: No Flag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "er-triage"
    }
  ]
}
