er-triage-phase-1/n8n-workflows/wf-backend.json
{
  "name": "ER Triage: Backend",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "parse-complaint",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "62ad51bc-95a5-4d11-96ed-df0cfe2cebdb",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1520,
        -16
      ],
      "webhookId": "parse-complaint"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "9b7ad17c-f173-464f-929e-c0a55e758926",
      "name": "Extract Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        -1312,
        -16
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-001",
              "leftValue": "={{ $json.body.complaint_text.length }}",
              "rightValue": 10,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "dc8d58c3-87d1-4646-a11b-e53e60c1816c",
      "name": "Check Complaint Length",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1088,
        -16
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ \"error\": \"Insufficient detail\", \"complaint_text\": $json.complaint_text }) }}",
        "options": {
          "responseCode": 400,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "942a0aee-f06a-4fd4-96b0-61132b07a804",
      "name": "Respond: Insufficient Detail",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -864,
        -208
      ]
    },
    {
      "parameters": {
        "resource": "chat",
        "model": "gpt-4.1-mini",
        "prompt": {
          "messages": [
            {
              "role": "system",
              "content": "=You are a clinical NLP assistant for ER triage. Extract structured fields from the nurse's transcribed chief complaint. Return JSON only.\nNever infer beyond what is stated. If a field is unclear, return null.\n\nReturn this schema:\n{\n  \"complaint_category\": \"string\",\n  \"onset\": \"string\",\n  \"duration\": \"string\",\n  \"symptoms\": [\"string\"],\n  \"trigger\": \"string or null\",\n  \"context\": \"string or null\"\n}"
            },
            {
              "role": "=user",
              "content": "={{ $json.body.complaint_text }}"
            }
          ]
        },
        "options": {
          "temperature": 0
        },
        "requestOptions": {}
      },
      "id": "b5e90088-410a-4617-ae67-5d5182e9183c",
      "name": "OpenAI: Extract Structured Complaint",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        -864,
        64
      ],
      "credentials": {
        "openAiApi": {
          "id": "2lPRNHpRQH3SQk51",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const parsed = JSON.parse($input.item.json.message.content);\nreturn { structured: parsed };"
      },
      "id": "1aa2a98c-14ab-4938-96ba-924417c30cf5",
      "name": "Parse Structured Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -640,
        64
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "6dd5536d-c31a-42e8-8c69-934a7e185e3c",
      "name": "Respond: Structured JSON",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -416,
        64
      ]
    },
    {
      "parameters": {
        "resource": "chat",
        "model": "gpt-4.1-mini",
        "prompt": {
          "messages": [
            {
              "role": "system",
              "content": "=You are a clinical AI flag detection engine for ER triage. Given a nurse's raw free-text chief complaint and vitals, perform TWO separate evaluations on every request. Both are mandatory — never skip either one, regardless of the other's result.\n\nEVALUATION 1 — Named condition flags\nReason directly over the raw complaint text against these 10 conditions. Each condition requires its defining symptom(s) — listed below — to be explicitly, literally stated in the complaint text. Do not infer or imply a defining symptom from a different, related-sounding symptom (e.g. dizziness is NOT headache, visual change, or chest pain — do not treat it as evidence of any of them). You must be able to quote a literal phrase from the complaint text that itself names the defining symptom; if you cannot, the condition is not met. Vitals may only corroborate a match once the complaint text already literally states the defining symptom (e.g. low SpO2 alongside a dyspnea complaint) — vitals must NEVER be the deciding evidence for any of these 10 conditions, no matter how extreme. If the complaint text does not literally state a condition's defining symptom(s), do not raise that flag, regardless of how abnormal the vitals are — route any unexplained abnormal vital to the vitals consistency check (Evaluation 2) instead.\n\n1. Acute MI — chest pain, left arm/jaw radiation, diaphoresis, pain at rest\n2. Stroke — sudden confusion, facial droop, speech slurring, unilateral weakness, acute onset\n3. Anaphylaxis — insect sting/allergen trigger, throat tightness, tongue/lip swelling, hives, rapid onset\n4. Sepsis — fever/chills, suspected infection source, altered mental status, tachycardia\n5. Respiratory distress — dyspnea, low SpO2 (< 94%), accessory muscle use, cyanosis\n6. Suicidal ideation — explicit self-harm statement, brought in by police/family for safety concern\n7. Major trauma — high-energy mechanism (MVA, fall from height, assault), multi-system involvement\n8. Hypertensive crisis — complaint text must literally contain the words/phrases severe headache, visual changes (e.g. blurred vision), or chest pain; dizziness, nausea, or feeling unwell do NOT qualify as any of these; elevated BP alone, however extreme, is never sufficient on its own\n9. Altered mental status — acute confusion, unresponsiveness, disorientation without other flag\n10. Anaphylactoid reaction — allergic-type skin or systemic symptoms (rash, hives, swelling, itching) following a new medication, food, or other exposure, without airway/breathing involvement; trigger may or may not be identified\n\nEVALUATION 2 — Vitals consistency check (run this on every request, independent of Evaluation 1's outcome)\nCompare each provided vital against its critical threshold:\n- SpO2 < 90%\n- Systolic BP >= 180 OR diastolic BP >= 120\n- GCS <= 13\n- HR >= 150 OR HR <= 40\n- Temp >= 39.5°C\n\nFor every vital that crosses its threshold, check whether the complaint text plausibly explains that specific abnormality (e.g. low SpO2 explained by a shortness-of-breath complaint). If a crossed threshold is NOT explained by the complaint text, you MUST set vitals_mismatch.triggered to true and name the vital and reason — do not default to false. Only return triggered: false if no vital crosses its threshold, or every crossed threshold is already explained by the complaint text (in which case let it support Evaluation 1 instead).\n\nReturn JSON only:\n{\n  \"flag_detected\": boolean,\n  \"flag_type\": \"string or null\",\n  \"confidence\": \"number 0.0 to 1.0 or null\",\n  \"urgency\": \"standard or high or null\",\n  \"source_citation\": \"string or null\",\n  \"reasoning\": \"string or null\",\n  \"vitals_mismatch\": {\n    \"triggered\": boolean,\n    \"vital\": \"string or null\",\n    \"reason\": \"string or null\"\n  }\n}\n\nRules:\n- flag_detected: true only if confidence >= 0.70 (Evaluation 1 only)\n- urgency: 'high' if confidence >= 0.90, 'standard' if 0.70 to 0.89\n- source_citation: quote the exact phrase from the raw complaint text (not a paraphrase) that triggered the flag — this phrase must itself literally contain the condition's defining symptom wording, not a related symptom; if no such literal phrase exists, flag_detected must be false\n- reasoning: one sentence explaining the clinical basis for the flag\n- If no flag matches or confidence < 0.70: return flag_detected false, flag_type/confidence/urgency/source_citation/reasoning null\n- vitals_mismatch is fully independent of flag_detected — evaluate Evaluation 2 every time, even when flag_detected is false, and even when no vitals threshold relates to any of the 10 conditions"
            },
            {
              "content": "=Chief complaint: {{ $json.body.complaint_text }} Vitals: {{ JSON.stringify($json.body.vitals) }}"
            }
          ]
        },
        "options": {
          "temperature": 0
        },
        "requestOptions": {}
      },
      "id": "087da71a-2d4c-419d-97f9-6a83582df481",
      "name": "OpenAI: Detect Critical Flags",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        -832,
        592
      ],
      "credentials": {
        "openAiApi": {
          "id": "2lPRNHpRQH3SQk51",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const parsed = JSON.parse($input.item.json.message.content);\nreturn { flags: parsed };"
      },
      "id": "41cb4f3d-ed81-49ce-ad7f-fe847bd2a47a",
      "name": "Parse Flag Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -608,
        592
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "cc099aae-d126-4b47-8ca6-af2527c33c66",
      "name": "Respond: Flags JSON",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -384,
        592
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "detect-flags",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "48cd9f21-b8cc-45c6-87e3-22794a77776a",
      "name": "Webhook1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1488,
        512
      ],
      "webhookId": "detect-flags"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "723b27b8-d8f5-452f-89b4-3c9ab028f2ff",
      "name": "Extract Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        -1280,
        512
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-001",
              "leftValue": "={{ $json.body.complaint_text.length }}",
              "rightValue": 10,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "69caefd5-4ab4-4189-81fd-defb1318c018",
      "name": "Check Complaint Length1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1056,
        512
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ \"error\": \"Insufficient detail\", \"complaint_text\": $json.complaint_text }) }}",
        "options": {
          "responseCode": 400,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "4f92efd8-886b-4207-aa23-24349de102c7",
      "name": "Respond: Insufficient Detail1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -832,
        320
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Fields": {
      "main": [
        [
          {
            "node": "Check Complaint Length",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Complaint Length": {
      "main": [
        [
          {
            "node": "Respond: Insufficient Detail",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OpenAI: Extract Structured Complaint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI: Extract Structured Complaint": {
      "main": [
        [
          {
            "node": "Parse Structured Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Structured Output": {
      "main": [
        [
          {
            "node": "Respond: Structured JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI: Detect Critical Flags": {
      "main": [
        [
          {
            "node": "Parse Flag Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Flag Output": {
      "main": [
        [
          {
            "node": "Respond: Flags JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Extract Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Fields1": {
      "main": [
        [
          {
            "node": "Check Complaint Length1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Complaint Length1": {
      "main": [
        [
          {
            "node": "Respond: Insufficient Detail1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OpenAI: Detect Critical Flags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "8f3c54b7-5cee-4236-90dc-8ed546283532",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "294d336059e5429b44436f1afb8c14d8d95f883334bccebec8219fb0f7a7ad18"
  },
  "nodeGroups": [],
  "id": "w8GFTSemkAASLAYu",
  "tags": [
    {
      "updatedAt": "2026-06-04T16:56:33.858Z",
      "createdAt": "2026-06-04T16:56:33.858Z",
      "id": "tw9xxpoH1JUJJufd",
      "name": "er-triage"
    }
  ]
}