er-triage-phase-1/n8n-workflows/wf-backend.json
{
  "name": "ER Triage: Backend",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "parse-complaint",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "62ad51bc-95a5-4d11-96ed-df0cfe2cebdb",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1520,
        -16
      ],
      "webhookId": "parse-complaint"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "9b7ad17c-f173-464f-929e-c0a55e758926",
      "name": "Extract Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        -1312,
        -16
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-001",
              "leftValue": "={{ $json.body.complaint_text.length }}",
              "rightValue": 10,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "dc8d58c3-87d1-4646-a11b-e53e60c1816c",
      "name": "Check Complaint Length",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1088,
        -16
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ \"error\": \"Insufficient detail\", \"complaint_text\": $json.complaint_text }) }}",
        "options": {
          "responseCode": 400,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "942a0aee-f06a-4fd4-96b0-61132b07a804",
      "name": "Respond: Insufficient Detail",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -864,
        -208
      ]
    },
    {
      "parameters": {
        "resource": "chat",
        "model": "gpt-4.1-mini",
        "prompt": {
          "messages": [
            {
              "role": "system",
              "content": "=You are a clinical NLP assistant for ER triage. Extract structured fields from the nurse's transcribed chief complaint. Return JSON only.\nNever infer beyond what is stated. If a field is unclear, return null.\n\nReturn this schema:\n{\n  \"complaint_category\": \"string\",\n  \"onset\": \"string\",\n  \"duration\": \"string\",\n  \"symptoms\": [\"string\"],\n  \"trigger\": \"string or null\",\n  \"context\": \"string or null\"\n}"
            },
            {
              "role": "=user",
              "content": "={{ $json.body.complaint_text }}"
            }
          ]
        },
        "options": {
          "temperature": 0
        },
        "requestOptions": {}
      },
      "id": "b5e90088-410a-4617-ae67-5d5182e9183c",
      "name": "OpenAI: Extract Structured Complaint",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        -864,
        64
      ],
      "credentials": {
        "openAiApi": {
          "id": "2lPRNHpRQH3SQk51",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const parsed = JSON.parse($input.item.json.message.content);\nreturn { structured: parsed };"
      },
      "id": "1aa2a98c-14ab-4938-96ba-924417c30cf5",
      "name": "Parse Structured Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -640,
        64
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "6dd5536d-c31a-42e8-8c69-934a7e185e3c",
      "name": "Respond: Structured JSON",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -416,
        64
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Fields": {
      "main": [
        [
          {
            "node": "Check Complaint Length",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Complaint Length": {
      "main": [
        [
          {
            "node": "Respond: Insufficient Detail",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OpenAI: Extract Structured Complaint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI: Extract Structured Complaint": {
      "main": [
        [
          {
            "node": "Parse Structured Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Structured Output": {
      "main": [
        [
          {
            "node": "Respond: Structured JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "8f3c54b7-5cee-4236-90dc-8ed546283532",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "294d336059e5429b44436f1afb8c14d8d95f883334bccebec8219fb0f7a7ad18"
  },
  "nodeGroups": [],
  "id": "w8GFTSemkAASLAYu",
  "tags": [
    {
      "updatedAt": "2026-06-04T16:56:33.858Z",
      "createdAt": "2026-06-04T16:56:33.858Z",
      "id": "tw9xxpoH1JUJJufd",
      "name": "er-triage"
    }
  ]
}